.card {
  gap: 24px;
}

.card__titel {
  grid-column: 1 / -1;
  margin: 0;
  padding-top: 92px;
  line-height: 32px;
  letter-spacing: 1.5px;
  width: 500;
}

@media (min-width: 744px) {
  .card__titel {
    padding-top: 132px;
  }
}

@media (min-width: 1260px) {
  .card__titel {
    padding-top: 164px;
    padding-bottom: 56px;
  }
}

.card__general {
  grid-column: 1 / -1;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 744px) {
  .card__general {
    max-width: 400px;
  }
}

.card__img {
  display: block;
  width: 100%;
}

.card__name {
  font-size: 24px;
  width: 700;
  margin: 0;
  padding-top: 32px;
}

.card__description {
  font-size: 16px;
  width: 400;
  margin: 0;
  padding-top: 8px;
}

.card__price {
  font-size: 24px;
  width: 700;
  margin: 0;
  padding-top: 16px;
}

@media (min-width: 1260px) {
  .card__first {
    grid-column: 1 / 5;
  }
  .card__second {
    grid-column: 5 / 9;
  }
  .card__third {
    grid-column: 9 / 13;
  }
}

.card__img:hover {
  transform: scale(1.2);
  transition: transform .3s ease,opacity .3s ease;
}
