.contact {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 744px) {
  .contact {
    padding-left: 72px;
  }
}

@media (min-width: 1025px) {
  .contact {
    padding-left: 120px;
  }
}


/* ELEMENTS */

.contact__titel {
  text-align: center;
  grid-column: 1 / -1;
}

.contact__wrapper {
  margin-top: 40px;
  justify-content: center;
  align-items: flex-start;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 350px;
  flex: 1;
}

.contact__info {
  min-width: 250px;
  flex: 1;
}

.contact__info__titel {
  font-size: 14px;
  width: 400;
}

.contact__info__text {
  font-size: 16px;
  width: 500;
}


/* GRID LAYOUT */

@media (min-width: 740px) {

  .contact__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .contact__form {
    grid-column: span 3;
  }

  .contact__info {
    grid-column: 4 / -1;
    padding-left: 24px;
  }

}

@media (min-width: 1240px) {

  .contact__wrapper {
    grid-template-columns: repeat(12, 1fr);

  }

  .contact__form {
    grid-column: span 5;
  }

  .contact__info {
    grid-column: 8 / -1;
  }

}


/* MODIFIERS */

.detail__btn_size {
  width: 100%;
}


/* MOBILE FIX */

@media (max-width: 720px) {
  .contact__info {
    padding-top: 48px;
  }
}


/* FOOTER IMAGE */

.footer_img {
  margin-top: 164px;
  background-image: url('/img/footer.png');
  box-sizing: border-box;
  height: 555px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
}
