.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0 20px;

  @media (min-width: 744px) {
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    padding: 0 72px;
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat(12, 63px);
    padding: 0 120px;
    max-width: 1260px;   /* максимальная ширина */
    margin: 0 auto;      /* центрирование */
  }
}

