.input_mini {
  grid-column: 1 / 5;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  transition: 0.2s ease;
}

.input_max {
  grid-column: 1 / 5;
  height: 148px;
  border: 1px solid #ccc;
  border-radius: 16px;
}
