.input__mini {
  grid-column: 1 / -1;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  text-align: left;
  padding: 0px 16px;
}

.input__max {
  grid-column: 1 / -1;
  height: 148px;
  border: 1px solid #ccc;
  border-radius: 16px;
  display: grid;
  resize: none;
  outline: none;
  overflow-y: hidden;
  margin-bottom: 16px;
  padding: 14px 16px;
  align-items: center;
  background: #fff;
  font-size: 16px;
}

.input__mini,
.input__max {
  color: #999;
}

.input__mini::placeholder,
.input__max::placeholder {
  color: #999;
}

.input__mini:focus::placeholder,
.input__max:focus::placeholder {
  color: #ccc;
}

.input__mini:hover,
.input__max:hover {
  color: #222;
}
