@import '/src/styles/header/header';
@import '/src/styles/header/icon';
@import '/src/styles/section';
@import '/src/styles/card';
@import '/src/styles/titel';
@import '/src/styles/detail';
@import '/src/styles/btn';
@import '/src/styles/imput';
@import '/src/styles/footer';
@import '/src/styles/menu/menu';
@import '/src/styles/grid';

body {
  margin: 0;
  background-color: #1D1D1D;
  color: #FFF;
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}
