@import '/src/styles/variables';

.header {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url('/img/Cover_photo.png');
  background-size: cover;
  background-position: 85% center;

  @media (min-width: 744px) {
    background-position: center;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px ;
  }

  &__icons {
    display: flex;
    gap: 36px;
  }

  &__titel {
    margin: 0;
  }

  &__bottom {
    margin: 0 auto;
    padding-bottom: 130px;
    text-align: center;
    font-size: 36px;
    letter-spacing: -1.5px;
    color: white;
    font-weight: 700;
    font-style: Bold;
  }
}



.header__top .icon--phone .icon__phone-number {
    position: absolute;
    opacity: 0;
    transform: translate(-100%);

    @media (max-width: 744px) {
    transform: translate(-80%) translateY(150%);
}

    white-space: nowrap;
    padding: 6px 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    letter-spacing: 2px;
    line-height: 16px;
    pointer-events: none;
    transition: transform .3s ease,opacity .3s ease
}

.header__top .icon--phone:hover .icon__phone-number {
    opacity: 1;
}
