.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon--phone {
  background-image: url(/img/Icon-Phone-call.png);
}

.icon--menu {
  background-image: url(/img/Icon-Burger-menu.png);
}

.icon--menu:hover {
  transition: transform .3s ease,opacity .3s ease;
  background-image: url(/img/Icon-Burger-menu-hover.png);
}

.icon--close {
  background-image: url(/img/Icon-Close.png);
  width: 32px;
  height: 32px;
}
